@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./reset.css');

@layer base {
  :root {
    /* Color styles */
    --black-100: 240, 5.9%, 6.7%, 1;
    --black-a80: 240, 5.9%, 6.7%, 0.8;
    --black-a60: 240, 5.9%, 6.7%, 0.6;
    --black-a40: 240, 5.9%, 6.7%, 0.4;
    --black-a20: 240, 5.9%, 6.7%, 0.2;
    --black-a10: 240, 5.9%, 6.7%, 0.1;
    --black-a4: 240, 5.9%, 6.7%, 0.04;
    --white-100: 0, 0%, 100%, 1;
    --white-a80: 0, 0%, 100%, 0.8;
    --white-a60: 0, 0%, 100%, 0.6;
    --white-a40: 0, 0%, 100%, 0.4;
    --white-a20: 0, 0%, 100%, 0.2;
    --white-a10: 0, 0%, 100%, 0.1;
    --white-a4: 0, 0%, 100%, 0.04;
    --gray-100: 0, 0%, 28.2%, 1;
    --green: 141, 88.2%, 50%, 1;
    --orange: 29, 100%, 55.1%, 1;

    --background: var(--black-100);
    --foreground: var(--white-100);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
