@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./reset.css');

@layer base {
  :root {
    --black-100: rgba(16, 16, 18, 1);
    --black-a10: rgba(16, 16, 18, 0.1);
    --black-a20: rgba(16, 16, 18, 0.2);
    --black-a4: rgba(16, 16, 18, 0.04);
    --black-a40: rgba(16, 16, 18, 0.4);
    --black-a60: rgba(16, 16, 18, 0.6);
    --black-a80: rgba(16, 16, 18, 0.8);
    --gray-100: rgba(72, 72, 72, 1);
    --green: rgba(15, 240, 92, 1);
    --orange: rgba(255, 136, 26, 1);
    --white-100: rgba(255, 255, 255, 1);
    --white-a10: rgba(255, 255, 255, 0.1);
    --white-a20: rgba(255, 255, 255, 0.2);
    --white-a4: rgba(255, 255, 255, 0.04);
    --white-a40: rgba(255, 255, 255, 0.4);
    --white-a60: rgba(255, 255, 255, 0.6);
    --white-a80: rgba(255, 255, 255, 0.8);

    --background: var(--black-100);
    --foreground: var(--white-100);

    --primary: var(--white-100);
    --primary-foreground: var(--black-100);

    --secondary: var(--white-a80);
    --secondary-foreground: var(--black-a80);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-primary;
  }
}

/* typography */
@layer components {
  .typo-title-20sb {
    @apply text-[1.25rem] font-semibold;
  }
  .typo-title-24b {
    @apply text-[1.5rem] font-bold;
  }
  .typo-title-18sb {
    @apply text-[1.125rem] font-semibold;
  }
  .typo-body-13m {
    @apply text-[0.8125rem] font-medium;
  }
  .typo-body-13b {
    @apply text-[0.8125rem] font-bold;
  }
  .typo-body-16r {
    @apply text-[1rem] font-normal;
  }
  .typo-body-16m {
    @apply text-[1rem] font-medium;
  }
  .typo-body-16b {
    @apply text-[1rem] font-bold;
  }
  .typo-caption-12r {
    @apply text-[0.75rem] font-normal;
  }
  .typo-caption-12b {
    @apply text-[0.75rem] font-bold;
  }
}
